/* Extra small devices (portrait phones, less than 576px) XS */
@media(min-width: 0px) and (max-width: 319px) { 
    .container{ 
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    } 
    .featured-section {
        padding-bottom: 100px;
    }

    .container{ 
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }  

    .menu{ 
        display: inline-block;
    }

    .nav-list-items {
        position: absolute;
        z-index: 100;
        top: 100%;
        right: 0;
        display: flex;
        flex-direction: column; 
        gap: 52px;
        width: 100%; 
        background-color: #101f32db;
        align-items: center;
        padding: 40px 0; 
        transform: translateX(100%);
        transition: all 0.3s ease-in-out;
    } 

    .nav input:checked ~ .nav-list-items {
        transform: translateX(0);
    }

    .nav input:checked ~ label .menu {
        display: none;
    } 
    .nav input:checked ~ label .menu-close {
        display: inline;
    } 

    .nav-icons{
        display: none;
    }
    .nav{
        position: relative;
        padding: 0 20px;
    }
    .menu{
        display: inline-block;
    }
    
    .logo{
        width: 36px;
        height: 36px;
    }

    /* footer-section */
    .footer-section{
        padding-top: 100px;
    }
    .footer-subscribe {
        width: 100%;
        margin-left: 0;
        margin-top: 62px;
    }
    .footer-all-content {
        display: grid;
        grid-template-columns: 100%; 
    }

    .footer-item {
        width: 446px;
    }
    .footer-social-item{
        padding-top: 62px;
    } 

    .nix-logo {
        position: absolute;
        left: 0;
        bottom: -13%;
    }
    .footer-section { 
        padding-bottom: 238px;
    }
    .footer-all-page-content{
        padding-top: 62px;
    }
    /* footer-section */
    /* footer-section */
    .footer-section{
        padding-top: 100px;
    }
    .footer-subscribe {
        width: 100%;
        margin-left: 0;
        margin-top: 62px;
    }
    .footer-all-content {
        display: grid;
        grid-template-columns: 100%; 
    }

    .footer-item {
        width: 280px;
    }
    .footer-social-item{
        padding-top: 62px;
    } 

    .nix-logo {
        position: absolute;
        left: 0;
        bottom: -11%;
    }
    
    .footer-section { 
        padding-bottom: 238px;
    }
    .footer-all-page-content{
        padding-top: 62px;
    }
    .footer-leftsite p {
        font-size: 15px; 
        line-height: 25px; 
        font-family: 'Poppins'; 
        width: 100%;
    }
    .footer-subscribe span { 
        font-size: 16px;  
        color: #ffffff87;
    }

    .get-offer-col-leftside {
        padding-right: 40px;
        display: none;
    }
    /* footer-section */ 
    /* .product-categori */
    .category-all {
        display: none;
    }

    .product-categori-col {
        display: grid;
        grid-template-columns: 100%;
        gap: 0;
    }

    .all-product-card {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    } 
    .get-offer-section {
        display: flex;
        flex-direction: column;
        align-items: start;
    }

    .product-right {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: start; 
    }

    .product-title{
        order: 3;
        padding-top: 42px;
    }

    .product-recommend {
        display: flex;
        align-items: center;
        gap: 16px; 
    }

    .product-left-icon{
        display: inline-block;
    }

    .product-icon-text{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }

    .product-left p { 
        padding-bottom: 42px;
    }
    /* .product-categori */

}

@media (min-width: 320px) and (max-width: 575px) { 
    .featured-section {
        padding-bottom: 100px;
    }

    .container{ 
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }  

    .menu{ 
        display: inline-block;
    }

    .nav-list-items {
        position: absolute;
        z-index: 100;
        top: 100%;
        right: 0;
        display: flex;
        flex-direction: column; 
        gap: 52px;
        width: 100%; 
        background-color: #101f32db;
        align-items: center;
        padding: 40px 0; 
        transform: translateX(100%);
        transition: all 0.3s ease-in-out;
    } 

    .nav input:checked ~ .nav-list-items {
        transform: translateX(0);
    }

    .nav input:checked ~ label .menu {
        display: none;
    } 
    .nav input:checked ~ label .menu-close {
        display: inline;
    } 

    .nav-icons{
        display: none;
    }
    .nav{
        position: relative;
        padding: 0 20px;
    }
    .menu{
        display: inline-block;
    }
    
    .logo{
        width: 36px;
        height: 36px;
    }

    /* footer-section */
    .footer-section{
        padding-top: 100px;
    }
    .footer-subscribe {
        width: 100%;
        margin-left: 0;
        margin-top: 62px;
    }
    .footer-all-content {
        display: grid;
        grid-template-columns: 100%; 
    }

    .footer-item {
        width: 446px;
    }
    .footer-social-item{
        padding-top: 62px;
    } 

    .nix-logo {
        position: absolute;
        left: 0;
        bottom: -13%;
    }
    .footer-section { 
        padding-bottom: 238px;
    }
    .footer-all-page-content{
        padding-top: 62px;
    }
    /* footer-section */ 

    .footer-section{
        padding-top: 100px;
    }
    .footer-subscribe {
        width: 100%;
        margin-left: 0;
        margin-top: 62px;
    }
    .footer-all-content {
        display: grid;
        grid-template-columns: 100%; 
    }

    .footer-item {
        width: 280px;
    }
    .footer-social-item{
        padding-top: 62px;
    } 

    .nix-logo {
        position: absolute;
        left: 0;
        bottom: -11%;
    }
    
    .footer-section { 
        padding-bottom: 238px;
    }
    .footer-all-page-content{
        padding-top: 62px;
    }
    .footer-leftsite p {
        font-size: 15px; 
        line-height: 25px; 
        font-family: 'Poppins'; 
        width: 100%;
    }
    .footer-subscribe span { 
        font-size: 16px;  
        color: #ffffff87;
    }

    .get-offer-form form input {
        width: 100%; 
    }

    .get-offer-col-leftside {
        padding-right: 40px;
        display: none;
    }
    /* footer-section */ 
    /* .product-categori */
    .category-all {
        display: none;
    }

    .product-categori-col {
        display: grid;
        grid-template-columns: 100%;
        gap: 0;
    }

    .all-product-card {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    } 
    .get-offer-section {
        display: flex;
        flex-direction: column;
        align-items: start;
    }


    .product-right {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: start; 
    }

    .product-title{
        order: 3;
        padding-top: 42px;
    }

    .product-recommend {
        display: flex;
        align-items: center;
        gap: 16px; 
    }

    .product-left-icon{
        display: inline-block;
    }

    .product-icon-text{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }

    .product-left p { 
        padding-bottom: 42px;
    }
    /* .product-categori */

}

/* Small devices (landscape phones, 576px and up) SM */
@media (min-width: 576px) and (max-width: 767px) { 

    .featured-section {
        padding-bottom: 100px;
    }

    .container{ 
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }  

    .menu{ 
        display: inline-block;
    }

    .nav-list-items {
        position: absolute;
        z-index: 100;
        top: 100%;
        right: 0;
        display: flex;
        flex-direction: column; 
        gap: 52px;
        width: 100%; 
        background-color: #101f32db;
        align-items: center;
        padding: 40px 0; 
        transform: translateX(100%);
        transition: all 0.3s ease-in-out;
    } 

    .nav input:checked ~ .nav-list-items {
        transform: translateX(0);
    }

    .nav input:checked ~ label .menu {
        display: none;
    } 
    .nav input:checked ~ label .menu-close {
        display: inline;
    } 

    .nav-icons{
        display: none;
    }
    .nav{
        position: relative;
        padding: 0 20px;
    }
    .menu{
        display: inline-block;
    }
    
    .logo{
        width: 36px;
        height: 36px;
    }

    /* footer-section */
    .footer-section{
        padding-top: 100px;
    }
    .footer-subscribe {
        width: 100%;
        margin-left: 0;
        margin-top: 62px;
    }
    .footer-all-content {
        display: grid;
        grid-template-columns: 100%; 
    }

    .footer-item {
        width: 446px;
    }
    .footer-social-item{
        padding-top: 62px;
    } 

    .nix-logo {
        position: absolute;
        left: 0;
        bottom: -13%;
    }
    .footer-section { 
        padding-bottom: 238px;
    }
    .footer-all-page-content{
        padding-top: 62px;
    }
    /* footer-section */
    /* footer-section */
    .footer-section{
        padding-top: 100px;
    }
    .footer-subscribe {
        width: 100%;
        margin-left: 0;
        margin-top: 62px;
    }
    .footer-all-content {
        display: grid;
        grid-template-columns: 100%; 
    }

    .footer-item {
        width: 280px;
    }
    .footer-social-item{
        padding-top: 62px;
    } 

    .nix-logo {
        position: absolute;
        left: 0;
        bottom: -11%;
    }
    
    .footer-section { 
        padding-bottom: 238px;
    }
    .footer-all-page-content{
        padding-top: 62px;
    }
    .footer-leftsite p {
        font-size: 15px; 
        line-height: 25px; 
        font-family: 'Poppins'; 
        width: 100%;
    }
    .footer-subscribe span { 
        font-size: 16px;  
        color: #ffffff87;
    }
    .get-offer-col-leftside {
        padding-right: 40px;
        display: none;
    }
    /* footer-section */ 
    /* .product-categori */
    .category-all {
        display: none;
    }

    .product-categori-col {
        display: grid;
        grid-template-columns: 100%;
        gap: 0;
    }

    .all-product-card {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    } 
    .get-offer-section {
        display: flex;
        flex-direction: column;
        align-items: start;
    }


    .product-right {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: start; 
    }

    .product-title{
        order: 3;
        padding-top: 42px;
    }

    .product-recommend {
        display: flex;
        align-items: center;
        gap: 16px; 
    }

    .product-left-icon{
        display: inline-block;
    }

    .product-icon-text{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }

    .product-left p { 
        padding-bottom: 42px;
    }
    /* .product-categori */
}

/* Medium devices (tablets, 768px and up) MD */
@media (min-width: 768px) and (max-width: 991px) { 
    
    .featured-section {
        padding-bottom: 100px;
    }

    .container{ 
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    } 
    
    .menu{ 
        display: inline-block;
    }

    .nav-list-items {
        position: absolute;
        z-index: 100;
        top: 100%;
        right: 0;
        display: flex;
        flex-direction: column; 
        gap: 52px;
        width: 100%; 
        background-color: #101f32db;
        align-items: center;
        padding: 40px 0; 
        transform: translateX(100%);
        transition: all 0.3s ease-in-out;
    } 

    .nav input:checked ~ .nav-list-items {
        transform: translateX(0);
    }

    .nav input:checked ~ label .menu {
        display: none;
    } 
    .nav input:checked ~ label .menu-close {
        display: inline;
    } 

    .nav-icons{
        display: none;
    }
    .nav{
        position: relative;
        padding: 0 62px;
    }
    .menu{
        display: inline-block;
    }
    .logo{
        width: 36px;
        height: 36px;
    }

    /* footer-section */
    .footer-section{
        padding-top: 100px;
    }
    .footer-subscribe {
        width: 100%;
        margin-left: 0;
        margin-top: 62px;
    }
    .footer-all-content {
        display: grid;
        grid-template-columns: 100%; 
    }
 
    .footer-social-item{
        padding-top: 0px;
    } 

    .nix-logo {
        position: absolute;
        left: 0;
        bottom: -13%;
    }
    .footer-section { 
        padding-bottom: 238px;
    }
    .footer-all-page-content{
        padding-top: 62px;
    }
    .footer-subscribe span { 
        font-size: 16px;  
        color: #ffffff87;
    }
    /* footer-section */ 
    /* product-categori-section */
    .all-product-card {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
        padding-top: 38px;
    }
    .get-offer-section {
        display: flex;
        align-items: start;
        flex-direction: column;
        gap: 60px;
    }

    .get-offer-section {
        padding-top: 42px;
        padding-bottom: 0;
    } 
    .flag-item {
        display: flex; 
        gap: 20px;
        flex-direction: column;
    }
    /* product-categori-section */

}

/* Large devices (desktops, 992px and up) LG */
@media (min-width: 992px) and (max-width: 1199px) { 
    
    .nav-icons {
        display: none;
    }

    .featured-section {
        padding-bottom: 100px;
    } 
 
    .header-all{
        overflow-x: hidden;
    }
    .container{ 
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }    
     
    /* product-categori-section */
    .all-product-card {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
        padding-top: 38px;
    }
    .get-offer-section {
        display: flex;
        align-items: start;
        flex-direction: column;
        gap: 60px;
    }

    .get-offer-section {
        padding-top: 42px;
        padding-bottom: 0;
    }

    /* product-categori-section */
}

/* Extra large devices (large desktops, 1200px and up) XL */
@media (min-width: 1200px) and (max-width: 1399px) {

}

/* Extra extra large devices (extra large desktops, 1400px and up) XXL */
@media (min-width: 1400px) {}